.goodslist
  width 100%
  height 100%
  background-color: #ffffff
  .movietop250list
    width 100%
    height 90px
    padding: 12px 20px
    border-bottom: 1px solid #f0f0f0
    .left
      float left
      margin-right: 10px
    .right
      float left
      text-align: left 
      height 90px
      width 200px
      .moviename
        font-size 17px
        font-weight: 700
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      .rating
        overflow hidden
        .ratingtext
          font-size 13px
          color: #666666
        .ratingnum
          margin-left: 5px
          font-size 15px
          font-weight: 700
          color: #faaf00
      .wantsee
        overflow hidden
        .peoplenum
          margin-right: 5px
          font-size 15px
          font-weight: 700
          color: #faaf00
        .wantseetext
          font-size 13px
          color: #666666
      .casts
        font-size 13px
        color: #666666
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      .genres
        font-size 15px
        color: #003366
        font-weight: 600


        
.buy
  float right
  margin: 40px 40px 40px 10px
  .onshowbtn
    width 47px
    height 27px
    line-height: 28px
    text-align: center
    box-sizing: border-box
    background-color: #f03d37
    color: #ffffff
    border-radius: 4px
    font-size 12px
    cursor pointer
  .willshowbtn
    width 47px
    height 27px
    line-height: 28px
    text-align: center
    box-sizing: border-box
    background-color: #f03d37
    color: #ffffff
    border-radius: 4px
    font-size 12px
    cursor pointer
