.movie
  width 100%
  height 100%
  .showtab
    width 100%
    height 100%
    display: flex   
    .tabitem
      flex: 1
      height 40px
      width: 100%
      line-height: 40px
      font-size 15px
      font-weight: 700
      text-align: center
.topbar
   padding-bottom: 5px
   border-bottom: 1px solid #f0f0f0

.navlink
  display: block
  color: #303030
  text-decoration: none
  .search
    position: absolute
    top: 55px
    right 20px

.searchactive
  color:#c62f2f 

.onactive
  color: #c62f2f
  border-bottom: 2px solid #c62f2f
  
